.env
venv/
logs/
Game_Recommendation_System.egg-info/
mlartifacts/
mlruns/
artifacts/model/
artifacts/raw/
artifacts/model_checkpoint/
/artifacts/processed/*.pkl
/artifacts/processed/*.csv
!/artifacts/processed/*_encoded.pkl
!/artifacts/processed/*_decoded.pkl
artifacts/weights/